<!doctype html>
<html>
<head>
<style>
body {
	height: 1000px;
	background-image: radial-gradient(skyblue, midnightblue);
	color: lightsteelblue;
}
</style>
<html>
<head>
	<title>GPIO with Flask!</title>
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<script>
	function submit1() {
		document.getElementById("button1").submit();
	}

	function submit2() {
		document.getElementById("button2").submit();
	}
	</script>
</head>
<body>
<div height="100%">
<div id="text2">
	{{msg2}}
	<form method="POST" id="button1">
	<label class="switch">
	<input type="submit" name="submitBtn" onclick="submit1()" {{checked2}} value="BLUE SWITCH">
	<span class="slider"></span>
	</label>
	<button type="hidden" name="hiddenElement1" value="1">
	</form>
</div>
<div id="text1">
	{{msg1}}
	<form method="POST" id="button2">
	<label class="switch">
	<input type="submit" name="submitBtn" onclick="submit2()" {{checked1}} value="RED SWITCH">
	<span class="slider"></span>
	</label>
	<input type="hidden" name="hiddenElement1" value="2">
	</form>
</div>
</body>
</html>
